@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/NanumGothic/NanumGothic-Regular.eot');
  src: url('../fonts/NanumGothic/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NanumGothic/NanumGothic-Regular.woff2') format('woff2'),
       url('../fonts/NanumGothic/NanumGothic-Regular.woff') format('woff'),
       url('../fonts/NanumGothic/NanumGothic-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/NanumGothic/NanumGothic-Bold.eot');
  src: url('../fonts/NanumGothic/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NanumGothic/NanumGothic-Bold.woff2') format('woff2'),
       url('../fonts/NanumGothic/NanumGothic-Bold.woff') format('woff'),
       url('../fonts/NanumGothic/NanumGothic-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/NanumGothic/NanumGothic-ExtraBold.eot');
  src: url('../fonts/NanumGothic/NanumGothic-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NanumGothic/NanumGothic-ExtraBold.woff2') format('woff2'),
       url('../fonts/NanumGothic/NanumGothic-ExtraBold.woff') format('woff'),
       url('../fonts/NanumGothic/NanumGothic-ExtraBold.ttf') format('truetype');
}
// Fonts
$font-primary: 'Nanum Gothic';

// Colors
$color-accent: #02547D;
$gray: #a1a1a7;
$gray-dark: #535358;
$gray-darkest: #2f313d;
$gray-light: #d8d8d8;
$gray-lighter: #e5e7e9;
$gray-lightest: #f9f9fb;
$yellow: #fffac4;
