---
layout: with-sidebar
---
<div class="sub-nav">
    <a href="#" >Categories</a>
</div>

<div class="home-page-categories animated fadeIn ">
    <div class="category row">
        <section>
            {% for category in site.categories %}

                <div class="category-preview col-xs-6 col-sm-4 ">
                    <h2>{{ category | first }}</h2>
                    <a href='{{ "/category/" | append: category.first | prepend: site.baseurl }}/'>
                        <img src='{{ "/img/category/" | append: category.first | prepend: site.baseurl }}-thumbnail.jpg' alt="category-image">
                    </a>
                </div>
            {% endfor %}

        </section>
    </div>
</div>
