---
layout: with-sidebar
---

<div class="sub-nav">
    <a href="#" class="select-posts active">Posts</a>
    <a href="#" class="select-categories">Categories</a>
    <a href="#" class="select-archives">Archive</a>
</div>

<div class="home-page-posts animated fadeIn ">
    {% for post in site.posts %}
      {% if post.hidden != true %}
        <article class="post">
            <div class="post-preview col-xs-10 no-gutter">
                <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>

                {{ post.excerpt | truncatewords: 28 }}

                <p class="meta">
                    <a href="{{ post.author_url | prepend: site.baseurl }}">{{ post.author_name | capitalize }}</a> in <a href='{{ "/category/" | append: post.categories.first | prepend: site.baseurl }}'>{{ post.categories.first | capitalize }}</a>

                    {% if post.read_time %}
                      <i class="link-spacer"></i> <i class="fa fa-bookmark"></i> {{ post.read_time }} minutes
                    {% endif %}

                    {% if post.languages %}
                      <i class="link-spacer"></i> <i class="fa fa-globe"></i>{{ post.languages | capitalize }}
                    {% endif %}
                </p>
            </div>


            {% if post.show_avatar == true %}
            <div class=" col-xs-2  no-gutter">
                <img src="{{ site.baseurl }}/img/author/{{ post.author_avatar }}.jpg" class="user-icon user-1" alt="user-image">
            </div>
            {% endif %}
        </article>
      {% endif %}
    {% endfor %}

</div><!-- Home page posts -->

<div class="home-page-categories hide animated fadeIn ">
    <div class="category row">
        <section>
            {% for category in site.categories %}
                <div class="category-preview col-xs-6 col-sm-4 ">
                    <h2>{{ category | first | upcase }}</h2>
                    <a href='{{ "category/" | append: category.first | prepend: site.baseurl }}'><img src='{{ "img/category/" | append: category.first | prepend: site.baseurl }}-thumbnail.jpg' alt="category-image"></a>
                </div>
            {% endfor %}
        </section>
    </div>
</div>

<div class="home-page-archives hide animated fadeIn ">
    <div class="archive row">
      {% for post in site.posts %}
      {% if post.hidden != true %}
        {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
        {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
          {% if month != nmonth %}
            {% if forloop.index != 1 %}</ul>{% endif %}
            <h3 class="sub-header">{{ post.date | date: '%B %Y' }}</h3><ul>
          {% endif %}
        <li>
          <span class="time">{{ post.date | date: "%d-%m-%Y" }}</span>
          <a href="{{ post.url }}">{{ post.title }}</a>
          <br>
          (
          {% for category in post.categories %}
            {% if forloop.index != 1 %},{% endif %}
            <a href='{{ "category/" | append: category | prepend: site.baseurl }}'>{{ category | upcase }}</a>
          {% endfor %}
          )
        </li>
      {% endif %}
      {% endfor %}
    </div>
</div>
